 body{margin:0;overflow-x:hidden}
header{width:100%;display:table;background-color:#002e5b;margin-bottom:35px}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
@media (min-width: 1200px) { .container{max-width:1140px} }
#logo{float:left;font-size:1.7rem;text-transform:uppercase;color:#fff;font-weight:500;text-decoration:none;padding:11px 0}
nav{width:auto;float:right;margin-top:7px}
nav ul{display:table;float:right;margin:0;padding:0}
nav ul li{float:left;list-style-type:none}
nav ul li:last-child{padding-right:0}
nav ul li a{color:#fff;font-size:19px;padding:7px 19px;display:inline-block;text-decoration:none}
nav ul li a:hover{background-color:#fff;color:#002e5b;text-decoration:underline}
.toggle-menu ul{display:table;width:31px;margin-left:0;padding-left:0;margin:5px}
.toggle-menu ul li{width:100%;height:3px;background-color:#e9f0f7;margin-bottom:4px;list-style:none}
.toggle-menu ul li:last-child{margin-bottom:0} input[type=checkbox],label{display:none}
@media only screen and (max-width: 967px) { 
header{padding:20px 0} 
#logo{padding:0} 
input[type=checkbox]{position:absolute;top:-7777px;left:-7777px;background:none} input[type=checkbox]:focus{background:none} 
label{float:right;display:inline-block;cursor:pointer;margin-right:25px} 
input[type=checkbox]:checked ~ nav{display:block} nav{display:none;position:absolute;right:0;top:64px;background-color:#002e5b;padding:0;z-index:99} 
nav ul{width:auto} 
nav ul li{float:none;padding:0;width:100%;display:table} 
nav ul li a{color:#FFF;font-size:15px;padding:10px 20px;display:block;border-bottom:1px solid rgba(225,225,225,0.1)} 
} 
@media only screen and (max-width: 360px) { 
label{padding:5px 0} 
#logo{font-size:1.1rem} 
nav{top:47px} 
}
@font-face {
    font-family: neucha Medium; /* Имя шрифта */
    src: url(../fonts/neucha.otf); /* Путь к файлу со шрифтом */
   } 
 
   p {
    font-family: Futura New Medium;
   }
body {
    background-image: url(bg.jpg);
    background-size: cover;
}
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
#background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: 0;
}

.stretch {
    width:100%;
    height:100%;
}
.class {
     background-image: url(bg.gif);
     background-size: 100%;
}
.foo {
    background-image: url(bg-image.png);
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%; 
    background-size: 100% 100%;
} 

.style1 {
        background: url(images/bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.image {
	position	: relative;
	width		: 200%; /* for IE 6 */
}

h1 {
	position	: absolute;
	top		: 90px;
	left		: 0;
	width		: 100%;
}
/* ------------- Контейнер с адаптивными блоками------------- */
.masonry {
    margin: 1.5em 0;
    padding: 0;
    column-gap: 1.5em; /* Общее расстояние между колонками */
    font-size: .85em;
    -moz-column-gap: 1.5em; /* Расстояние между колонками для Firefox */
    -webkit-column-gap: 1.5em; /* Расстояние между колонками  для Safari, Chrome и iOS */
}
 
/* Элементы в виде плиток с содержанием */
.item {
    display: inline-block;
    background: yellow;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */ 
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */ 
    box-shadow: 2px 2px 4px 0 #ccc; /* Внешняя тень плиток */
}
 
/* Стили картинок, видое и фреймов внутри адаптивных плиток */
img, iframe {
max-width: 100%;
height: auto;
display: block;
}
 
/* Стили ссылок внутри плиток */
.item a {
text-decoration: none;
color: #359CC6;
margin: 0 10px;
}
 
/* Стили ссылок при наведении */
.item a:hover {
color: #E88F00;    
border-bottom: 1px dotted #9F1D35;
}
 
/* Медиа-запросы для различных размеров адаптивного макета */
@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
 
@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
 
@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
 
@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}
 
@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}
details {
border: 1px solid #999;
border-radius: 5px;
margin: 0 2em .4em 2em;
padding: 1.04%;
}
 
details {
margin: 1em;
cursor: pointer;
}
 
summary {
border-radius: 5px;
cursor: pointer;
margin: -1%;
padding: 8px 10px;
background: -webkit-linear-gradient(top, #f3f3f3 50%, #e6e6e6 50%);
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: #686461;
}
caption {
  padding: 10px;
  color: white;
  background: #002e5b;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #E8E6D1;
}
box {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.portfolio-wrap {
	max-width: 1120px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.portfolio-item {
	padding: 10px;
}
.portfolio-item-wrap {
	position: relative;
	overflow: hidden;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	background: black;
	color: white;
}
.portfolio-item img {
	display: block;
	width: 100%;
	opacity: .75;
	transition: .5s ease-in-out;
}
.portfolio-item-inner {
	position: absolute;
	top: 45%;
	left: 7%;
	right: 7%;
	bottom: 45%;
	border: 1px solid white;
	border-width: 0 1px 1px;
	transition: .4s ease-in-out;
}
.portfolio-heading {
	overflow: hidden;
	transform: translateY(-50%);
}
.portfolio-heading h3 {
	font-family: 'Pattaya', sans-serif;
	font-weight: normal;
	display: table;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
.portfolio-heading h3:before,
.portfolio-heading h3:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 50px;	
	height: 1px;
	background: white;
}
.portfolio-heading h3:before {
	left: -50px;
}
.portfolio-heading h3:after {
	right: -50px;
}
.portfolio-item-inner ul {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	padding: 0 20px;
	opacity: 0;
	list-style: none;
	font-family: 'Raleway', sans-serif;
	transition: .4s ease-in-out;
}
.portfolio-item-inner li {
	position: relative;
	font-size: 12px;
	padding: 10px 0;
	margin-bottom: 4px;
}
.portfolio-item-inner li:after {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -2px;
	bottom: -4px;
	width: 4px;	
	height: 4px;
	border-radius: 50%;
	background: white;
	box-shadow: 10px 0 0 white, -10px 0 0 white; 
}
.portfolio-item-inner li:last-child:after {
	content: none;
}
.portfolio-item a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}
.portfolio-item:hover img {
	opacity: 0.45;
	transform: scale(1.1);
}
.portfolio-item:hover .portfolio-item-inner {
	top: 7%;
	bottom: 7%;
}
.portfolio-item:hover ul {
	opacity: 1;
	transition-delay: .5s;
}
@media (min-width: 530px) {
	.portfolio-item {
		flex-basis: 50%;
		flex-shrink: 0;	
	}
}
@media (min-width: 768px) {
	.portfolio-item {
		flex-basis: 33.333333333%;			
	}
}

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
/*Стили для обертки*/
.wrap{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  display:flex; /*Это сделано чтобы карточка была розмещена по центру*/
  justify-content:center; /*Это сделано чтобы карточка была розмещена по центру*/
  align-items:center; /*Это сделано чтобы карточка была розмещена по центру*/
}
 
/*Оформляем саму карточку*/
.cart {
  width:450px;
  height: 480px;
  position:relative;
  perspective: 1000px; /*Добавляем эффект 3D*/
 
}
 
.front, .back{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  display:flex;
  justify-content:center;
  align-items:center; 
  transition:1s;
  backface-visibility: hidden; /*Отключаем тыльную сторону у .front и .back*/
}
 
.back{
  transform:rotateY(180deg); /*Разворачиваем на 180 градусов по горизонтальной оси*/
}
.cart:hover .front{
  transform:rotateY(180deg);
}
.cart:hover .back{
  transform:rotateY(360deg);
}
/*кнопка*/
a.button9 {
  position: relative;
  display: inline-block;
  color: #002e5b;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgba(#002e5b) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
  user-select: none;
  padding: 1em 2em;
  outline: none;
  border-radius: 3px / 100%;
  background-image:
   linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
   linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
a.button9:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
a.button9:active {
  top: 1px;
}
